@font-face {
    font-family: "Asap-Regular";
    src: url("/assets/fonts/Asap-Regular.eot"); /* IE9 Compat Modes */
    src: url("/assets/fonts/Asap-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/Asap-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/Asap-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "LucidaSans-Italic";
    src: url("assets/fonts/lucidasansitalic.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/lucidasansitalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/lucidasansitalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/lucidasansitalic.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "OpenSans-Regular";
    src: url("assets/fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/OpenSans-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family:  "PTSans-Regular";
    src: url(/assets/fonts/PTSans-Regular.eot);
    src: url(/assets/fonts/PTSans-Regular.eot?#iefix) format("embedded-opentype"),
         url(/assets/fonts/PTSans-Regular.woff) format("woff"),
         url(/assets/fonts/PTSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;     
}

@font-face {
    font-family: "PTSans-Narrow";
    src: url("assets/fonts/PTSansNarrow-Regular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/PTSansNarrow-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/PTSansNarrow-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/PTSansNarrow-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI";
    src: url("assets/fonts/SegoeUI.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeUI.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeUI.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI-Bold";
    src: url("assets/fonts/SegoeUIBold.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeUIBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeUIBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeUIBold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI-Light";
    src: url("assets/fonts/SegoeUILight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeUILight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeUILight.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeUILight.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeWP";
    src: url("assets/fonts/SegoeWPRegular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeWPRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeWPRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeWPRegular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SegoeWP-Light";
    src: url("assets/fonts/SegoeWPLight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeWPLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeWPLight.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeWPLight.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }


body, html {
  width: 1300px;
  margin: 0 auto;
  font-size: 16px;
}

.clearfix {
  clear: both;
}

.inner {
  margin: 0 140px auto;
  height: auto; 
}

a{
  text-decoration: none;
}

.bg_head {
  
  height: 566px;
  background-image: url(assets/img/bg-top.jpg);
  background-repeat: no-repeat;
}

.logo_block {
  float: left;
  margin-top: 30px;
}

.logo_img, .logo {
  display: inline-block;
}

.logo_img {
  vertical-align: top;
}
.logo_block:hover .logo_img {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.logo {
  font-family: "LucidaSans-Italic", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.41px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42); 
  font-size: 41px;  
  margin-top: 25px; 
}
.nav {
  float: right;
  margin-top: 70px;
}

.nav_items li {
  display: inline-block;
  background-color: #f5c506;
  padding-bottom: 1px;
}



.nav_item {
  display: block;
  position: relative;
  background-color: #f5c506;
  -webkit-box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
     -moz-box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
      -ms-box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
          box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
          transition: .3s;        
  font-family: SegoeWP;
  font-size: 17px;
  letter-spacing: 0.17px;
  text-transform: uppercase;
  color: #9b7d08;  
  z-index: 9;
}
.nav_item:hover {
  background-color: rgba(85, 150, 247, 0.9);
  color: #fff;
  -webkit-box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
     -moz-box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
      -ms-box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
          box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.about {
  padding: 12px 22px 12px 69px;
}
.about::after {
  content: url(assets/img/icon_person.svg);
  position: absolute;
  top: 11px;
  left: 39px;
  
}

.services {
  padding: 12px 18px 12px 41px;
  border-left: 1px solid #9b7d08;
  border-right: 1px solid #9b7d08;
}
.services::after {
  content: url(assets/img/icon_wrench.svg);
  position: absolute;
  top: 11px;
  left: 14px;
}


.contact {
  padding: 12px 22px 12px 50px;
}
.contact::after {
  content: url(assets/img/icon_envelope.svg);
  position: absolute;
  top: 11px;
  left: 17px;
}

.teaser_video {
  position: relative;
  margin-top: 55px;
  float: left;
}
.teaser_video::before, .teaser_video::after {
  position: absolute;
  top: 132px;
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  text-align: center;
  font-size: 20px;
  line-height: 63px;
  cursor: pointer;
  opacity: 0.85;
}
.teaser_video::before {
  content: url(assets/img/icon_lt.svg);  
  left: -140px;
}

.teaser_video::after {
  content: url(assets/img/icon_rt.svg);  
  right: -601px;
}

.teaser img {
  margin-left: 10px;
  height: 327px;
}

.teaser_describe {
  float: right;
}

.teaser_describe p {
  font-family: "Asap-Regular";
  text-transform: uppercase;
  font-size: 63px;
  letter-spacing: 0.63px;
  color: #fff;
  text-align: center;
  margin-top: 131px;
  margin-right: 17px;
  line-height: 123%;
}

.teaser_describe strong {
  color: #f5c506;
  display: block;
  margin-right: 15px;
  
}