@font-face {
    font-family: "Asap-Regular";
    src: url("/assets/fonts/Asap-Regular.eot"); /* IE9 Compat Modes */
    src: url("/assets/fonts/Asap-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/Asap-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/Asap-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "LucidaSans-Italic";
    src: url("assets/fonts/lucidasansitalic.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/lucidasansitalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/lucidasansitalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/lucidasansitalic.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "OpenSans-Regular";
    src: url("assets/fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/OpenSans-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family:  "PTSans-Regular";
    src: url(/assets/fonts/PTSans-Regular.eot);
    src: url(/assets/fonts/PTSans-Regular.eot?#iefix) format("embedded-opentype"),
         url(/assets/fonts/PTSans-Regular.woff) format("woff"),
         url(/assets/fonts/PTSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;     
}

@font-face {
    font-family: "PTSans-Narrow";
    src: url("assets/fonts/PTSansNarrow-Regular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/PTSansNarrow-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/PTSansNarrow-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/PTSansNarrow-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI";
    src: url("assets/fonts/SegoeUI.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeUI.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeUI.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI-Bold";
    src: url("assets/fonts/SegoeUIBold.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeUIBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeUIBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeUIBold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI-Light";
    src: url("assets/fonts/SegoeUILight.eot"); 
    src: url("assets/fonts/SegoeUILight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeUILight.ttf") format("truetype"), 
      url("assets/fonts/SegoeUILight.woff") format("woff"); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeWP";
    src: url("assets/fonts/SegoeWPRegular.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeWPRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeWPRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeWPRegular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "SegoeWP-Light";
    src: url("assets/fonts/SegoeWPLight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/SegoeWPLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("assets/fonts/SegoeWPLight.ttf") format("truetype"), /* Safari, Android, iOS */
      url("assets/fonts/SegoeWPLight.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }


body, html {
  width: 1300px;
  margin: 0 auto;
  font-size: 16px;
}

.clearfix {
  clear: both;
}

.inner {
  margin: 0 140px auto;
  height: auto; 
}

a{
  text-decoration: none;
}

.bg_head {
  
  height: 566px;
  background-image: url(assets/img/bg-top.jpg);
  background-repeat: no-repeat;
}

.logo_block {
  float: left;
  margin-top: 30px;
}

.logo_img, .logo {
  display: inline-block;
}

.logo_img {
  vertical-align: top;
}
.logo_block:hover .logo_img {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.logo {
  font-family: "LucidaSans-Italic", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.41px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42); 
  font-size: 41px;  
  margin-top: 25px; 
}
.nav {
  float: right;
  margin-top: 70px;
}

.nav_items li {
  display: inline-block;
  background-color: #f5c506;
  padding-bottom: 1px;
}



.nav_item {
  display: block;
  position: relative;
  background-color: #f5c506;
  -webkit-box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
     -moz-box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
      -ms-box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
          box-shadow: -4px -5px rgba(245,197,6, 0.27), -8px -8px rgba(245,197,6, 0.27);
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
          transition: .3s;        
  font-family: SegoeWP;
  font-size: 17px;
  letter-spacing: 0.17px;
  text-transform: uppercase;
  color: #9b7d08;  
  z-index: 9;
}
.nav_item:hover {
  background-color: rgba(85, 150, 247, 0.9);
  color: #fff;
  -webkit-box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
     -moz-box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
      -ms-box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
          box-shadow: -4px -5px rgba(85, 150, 247, 0.27), -8px -8px rgba(85, 150, 247, 0.27);
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.about {
  padding: 12px 22px 12px 69px;
  z-index: 3;
}
.about::after {
  content: url(assets/img/icon_person.svg);
  position: absolute;
  top: 11px;
  left: 39px;
  
}

.services {
  padding: 12px 18px 12px 41px;
  border-left: 1px solid #9b7d08;
  border-right: 1px solid #9b7d08;
  z-index: 2;
}
.services::after {
  content: url(assets/img/icon_wrench.svg);
  position: absolute;
  top: 11px;
  left: 14px;
}


.contact {
  padding: 12px 22px 12px 50px;
  z-index: 1;
}
.contact::after {
  content: url(assets/img/icon_envelope.svg);
  position: absolute;
  top: 11px;
  left: 17px;
}

.teaser_video {
  position: relative;
  margin-top: 55px;
  float: left;
}
.teaser_video::before, .teaser_video::after {
  position: absolute;
  top: 132px;
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  text-align: center;
  font-size: 20px;
  line-height: 63px;
  cursor: pointer;
  opacity: 0.85;
}
.teaser_video::before {
  content: url(assets/img/icon_lt.svg);  
  left: -140px;
}

.teaser_video::after {
  content: url(assets/img/icon_rt.svg);  
  right: -601px;
}

.teaser img {
  margin-left: 10px;
  width: 549px;
  height: 327px;
}

.teaser_describe {
  float: right;
}

.teaser_describe p {
  font-family: "Asap-Regular";
  text-transform: uppercase;
  font-size: 63px;
  letter-spacing: 0.63px;
  color: #fff;
  text-align: center;
  margin-top: 131px;
  margin-right: 17px;
  line-height: 123%;
}

.teaser_describe strong {
  color: #f5c506;
  display: block;
  margin-right: 15px;
  
}


/* --------------------Main--------------------- */

.wrap_design {
  background-image: url(assets/img/bg_design.jpg);
  background-repeat: repeat-x;
  width: 100%;
  height: 212px;
}
.wrap_design .inner {
  height: 100%;
}

.design_items{
  height: 100%;
}

.design_items, .design_item:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  border-right: 1px solid rgba(0, 0, 0, 0.14);  
}


.bg_main .design_item {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 35px;
  width: 336px;
  text-align: center;
}

.design_item:nth-child(2){
  padding-top: 40px;
}
.design_item:nth-child(2) img {
  margin-left: 24px;
}
.design_item:last-child img {
  margin-left: -14px;
}

.design_item:last-child a {
margin-left: -12px;
}

.bg_main a{
  display: block;
  margin-top: 14px;
  margin-left: 24px;
  font-family: "SegoeUI";
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  color: #000;
}

.wrap_news {
  width: 100%;
  background-image: url(assets/img/bg_main1.jpg);
  background-repeat: no-repeat;
  height: 509px;
}

.block_news{
  padding-top: 36px;
}

.block_news h3 {
  font-family: "PTSans-Regular";
  font-size: 37px;
  text-transform: uppercase;
  letter-spacing: -1.73px;
  color: #fff;
}

.news_items{
  margin-top: 38px;
}

.news_item {
  width: 315px;
  height: 233px;  
  display: inline-block;
}

.news_item:first-child{
  width: 341px;
  background-color: #ec9e03;
}

.twitter ul {
  display: none;
}

.news_item p {
  position: absolute;
    top: 14px;
    left: 28px;
    font-family: "SegoeWP-Light";
    font-size: 29px;
    line-height: 38px;
    letter-spacing: 0.37px;
    color: #ffffff;
}

.news_item:last-child {
  width: 329px;
  margin-left: 32px;  
  text-align: center;
  background-color: #ec9e03;
}

.news_item:last-child::before {
  content: "22";
  position: absolute;
  top: 14px;
  right: 16px;
  font-family: "SegoeWP", sans-serif;
  font-size: 25px;
  letter-spacing: 0.25px;
  color: #fff;
}

.news_item:last-child img {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.news_item:nth-child(2) img {
  display: block;
  background-color: none;
}

.plus{
  position: relative;
}

.plus::after {
  content: "+";
  position: absolute;
  bottom: 11px;
  right: 6px;
  color: #fff;  
  font-family: "SegoeWP", sans-serif;
  font-size: 23px;
}

.plus:first-child::after {
  bottom: 10px;
  right: 13px;
}

.date {
  margin-top: -3px;
  position: relative;
  width: 113px;
  height: 86px;
  background-color: #ddb101;
}

.date p, .date span {
  position: absolute;
}

.date p {
  top: 11px;
  left: 28px;
  font-family: "SegoeUI-Bold";
  color: #ffffff;
  font-size: 51px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.51px;
}

.date span {
  top: 48px;
  left: 31px;
  font-family: "SegoeUI";  
  color: #b26529;
  font-size: 21px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 0.21px;
}

.scrollbar_line {
  width: 896px;
  height: 15px;
  position: relative;
  top: 42px;
  left: 73px;
  border-radius: 7.5px;
  background-color: #ffffff;
  opacity: 0.48;
}

.scroll{
  width: 197px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 247px;
  border-radius: 7.5px;
  background-color: #ec9e03;
}

.wrap_screes {
  height: 499px;
  background-image: url(assets/img/bg_main_2.jpg);
  background-repeat: repeat-x;
}

.block_screens {
  padding-top: 42px;
  position: relative;
}
.block_screens h3 {
  text-align: center;
  margin-left: 3px;
  color: #f5c506;
  font-family: "PTSans-Regular", sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  letter-spacing: -2.72px;
}

.block_screens div {
  position: absolute;
}
.block_screens ul {
  float: right;
}

.desktop {
  top: 136px;
  left: 18px;
  width: 323px;
  height: 255px;
}

.desktop img {
  display: block;
  width: 323px;
  height: 255px;
}

.desktop::after {
  content: "";
  position: absolute;
  top: -43px;
  left: -21px;
  z-index: 4;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-color: #f5c506;
}
.desktop::before {
  content: "Its 100% Free";
  position: absolute;
  top: 8px;
  left: -13px;
  z-index: 5;
  color: #ffffff;
  font-family: "PTSans-Narrow";
  font-size: 18.5px;
  text-transform: uppercase;
  letter-spacing: 0.51px;
}

.tablet {
  top: 178px;
  left: 364px;
  width: 129px;
  height: 173px;
}

.tablet img {
  display: block;
  width: 129px;
  height: 173px;
}

.mobile {
  top: 288px;
  left: 519px;
  width: 39px;
  height: 63px;
}

.mobile img {
  display: block;
  width: 39px;
  height: 63px;
}

.block_screens ul {
  margin-top: 94px;
  width: 349px;
}

.block_screens li {
  position: relative;
  margin-top: 22px;
  color: #a9a9a7;
  font-family: "OpenSans-Regular";
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
.block_screens li:first-child {
  margin-top: 0;
}
.block_screens li:nth-child(3) {
  margin-top: 14px;
}

.block_screens li::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -33px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f5c506;
}



/* --------------------- footer ---------------- */

.bg_footer {
  height: 67px;
  background-color: #4c4c4c;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
}

.logo_block--small {
color: #ffffff;
font-family: "Lucida Sans";
font-size: 29px;
font-style: italic;
text-transform: uppercase;
/* Text style for "TheYalow" */
letter-spacing: 0.29px;
}

.logo_block--small .logo_img {
  width: 54px;
  height: 54px;
  margin-top: 3px;
}

.logo_block--small .logo {
  margin-top: 16px;
  margin-left: -4px;
  font-size: 29px;
  letter-spacing: 0.29px;
}


/* --------------- media ----------------- */

@media only screen and (max-width:640px) {
  body, html {
    max-width: 640px;
    margin: 0 auto;
    font-size: 16px;
  }

  .bg_head {
    height: 393px;
    background-image: none;
  }

  .inner {
    margin: 0;
  }

  .logo_block, .nav {
    display: inline-block;
  }
  .nav {
    margin: 0;
    padding: 0;
  }
  
  .logo_block {
    background-color: #000;
    width: 186px;
  }
  
  .nav_items li {
    width: 133px;
    box-sizing: border-box;
  }
  .nav_items li:first-child {
    width: 171px;
  }
  .nav_items li:last-child {
    width: 149px;
  }

  .logo_block, .nav li {
    height: 62px;  
    margin: 0;
    padding: 0;
  }
  
  .logo_block h1, .nav_item {
    color: #ffffff;
    font-family: "LucidaSans", sans-serif;
    font-size: 19px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.41px;
    box-shadow: none; 
  }
  
  .logo_block img{
    height: 39px;
    margin-top: 10px;
    margin-left: 13px;
  }
  
  .nav_item:hover {
    box-shadow: none;
  }
  
  .nav_items a {
    width: auto;
    padding: 0;
    font-family: "SegoeWP";
    text-align: center;
    line-height: 63px;
    font-style: normal;
    color: #9b7d08;
  }
  
  .nav_items li {    
    box-sizing: border-box;
  }

  .nav_items .about {
    padding-left: 33px;
  }
  .nav_items .about::after {
    content: url(assets/img/mobile_person.svg);
    left: 23px;
    top: 3px;
  }
  
  .nav_items .services {
    padding-left: 24px;
  }
  .services::after {
    content: url(assets/img/mobile_wrench.svg);
    left: 8px;
    top: 4px;
  }
  
  .nav_items .contact {
    padding-left: 38px;
  }
  .contact::after {
    content: url(assets/img/mobile_envelope.svg);
    left: 13px;
    top: 2px;
  }

  .teaser_video {
    display: block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }

  .teaser_video::before, .teaser_video::after {
    content: none;
  }

  .teaser_video img {
    display: block;
    width: 100%;
    margin: 0;
  }

  .teaser_describe {
    display: none;
  }


  /* --------------main ------------- */
  .wrap_design {
    height: 174px;
    background-image: url(assets/img/mobile_bg_design.jpg);
    background-size: cover;
    background-repeat: repeat-x;
  }

  .design_items, .design_item:nth-child(2) {
    border: 0;
  }

  .bg_main .design_item {
    width: 33%;
    margin: 0;
    padding: 0;
  }

  .bg_main a {
    margin: 0;
    padding: 0;
    font-size: 23px;
    letter-spacing: -0.2px;
  }

  .design_item img{
    margin-top: 21px;
    margin-left: -34px;
  }
  .design_item a{
    margin-top: 21px;
    margin-left: -19px;
  }

  .design_item:nth-child(2) a{
    margin-left: 24px;
  }

  .design_item:last-child img {
    margin-left: 7px;
  }
  .design_item:last-child a {
    margin-left: 15px;
  }

  .wrap_news{
    background-image: none;
    height: auto;
  }

  .date, .scrollbar_line, .block_news h3, .block_screens ul  {
    display: none
  }

  .block_news {
    margin: 0;
    padding: 0;
  }  

  .news_items {
    margin-top: 2px;
    height: auto;
  }

  .plus::after, .news_item:last-child::before{
    content: none;
  }

  .news_item:not(.twitter) {
    box-sizing: border-box;
    width: 299px;
    margin-left: 9px;
  }
  .news_item:nth-child(2) {
    margin-right: 9px;
  }

  .news_item p {
    padding-right: 3px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.33px;
  }

  .news_item:last-child{
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 6px;    
    background-color: #f5c507;
  }

  .news_item:last-child img {
    margin: 0;
    position: absolute;
    top: -140px;
    left: 52px;
  }

  .twitter picture {
    position: relative;
  }

  .news_item:last-child picture, .news_item:last-child ul {
    width: 43%;
    padding: 1px 0px 12px 12px;
    display: inline-block;
    margin-top: 24px;
    text-align: left;
  }

  .news_item:last-child li {
    width: auto;
    position: relative;
    margin-bottom: 14px;
    padding: 6px 36px 6px 18px;
    border-radius: 8px;
    background-color: #fff;
    color: #8f8e8e;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.13px;
  }

  .news_item:last-child li:nth-child(2) {
    background-color: #f8edc1;
  }
  .news_item:last-child li:nth-child(3) {
    background-color: #f6e7ac;
  }

  .triangle::after {
    content: url(assets/img/mas_tr.png);
    position: absolute;
    top: 19px;
    left: -9px;
  }

  .news_item:last-child ul li:last-child {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #0000;
  }

  .news_item:last-child li:last-child::after {
    content: "";
    width: 26%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    background-color: #d89c25;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%);;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0  ;
    -moz-border-radius: 0 8px 8px 0  ;
    -ms-border-radius: 0 8px 8px 0  ;
    -o-border-radius: 0 8px 8px 0  ;
  }

  .news_item:last-child li:last-child::before {
    content: "Tweet";
    position: absolute;
    top: 6px;
    right: 18px;
    z-index: 12;
    color: #ffffff;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
  }

  .twitter input {
    width: 98%;
    height: 24px;
    margin: 0px 2px;    
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
  }


  .wrap_screes {
    height: 472px;
    background-image: none;
    background-color: #4c4c4c;
  }

  .block_screens {
    margin-top: -5px;
  }

  .block_screens h3 {
    margin: 0;
    margin-left: -9px;
    font-size: 39px;
    letter-spacing: 2.2px;
  }
  
  .desktop {
    top: 160px;
    left: 57px;
  }

  .desktop::after {
    top: -41px;
    left: -29px;    
  }
  
  .desktop::before {
    top: 12px;
    left: -22px;
  }

  .tablet {
    top: 203px;
    left: 404px;
  }

  .mobile {
    top: 313px;
    left: 558px;
  }

  .logo_block--small .logo_img {
    width: 31px;
    height: 31px; 
    margin-top: 5px;
    margin-left: 65px;
  }

  .logo_block--small .logo{
    font-size: 17px;
    letter-spacing: 0;
    margin-top: 12px;
    margin-left: -2px;
  }
}

